/* line 17, C:/Users/Natalie Reyne/Ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Users/Natalie Reyne/Ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Users/Natalie Reyne/Ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Users/Natalie Reyne/Ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Users/Natalie Reyne/Ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Users/Natalie Reyne/Ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Users/Natalie Reyne/Ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Users/Natalie Reyne/Ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Users/Natalie Reyne/Ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Proxima Nova";
  src: url('fonts/ProximaNova-Bold.eot');
  src: url('fonts/ProximaNova-Bold.eot?#iefix') format('eot'), url('fonts/ProximaNova-Bold.otf') format('opentype'), url('fonts/ProximaNova-Bold.ttf') format('truetype'), url('fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: 600;
}

/* line 7, ../scss/screen.scss */
.wrapper {
  width: 600px;
  margin: 0 auto;
  position: relative;
  background: #efefef;
  color: #4a4a4a;
  padding: 50px 25px 50px;
}
/* line 15, ../scss/screen.scss */
.wrapper p {
  padding-bottom: 25px;
  font-size: 15px;
  line-height: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 23, ../scss/screen.scss */
.wrap_side {
  position: absolute;
  top: 150px;
  font-family: 'Proxima Nova', Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 32, ../scss/screen.scss */
.wrap_side.fixed_left {
  left: -170px;
}
/* line 35, ../scss/screen.scss */
.wrap_side.fixed_left a {
  display: block;
  text-decoration: none;
}
/* line 41, ../scss/screen.scss */
.wrap_side.fixed_left a span.logo-block {
  display: block;
  width: 170px;
  height: 170px;
  background: #be5642;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px;
  margin-bottom: 20px;
  position: relative;
  z-index: 10;
}
/* line 53, ../scss/screen.scss */
.wrap_side.fixed_left a span.text-block {
  display: block;
  color: #be5642;
  font-size: 24px;
  line-height: 20px;
  position: relative;
  z-index: 5;
  margin-top: -80px;
}
/* line 65, ../scss/screen.scss */
.wrap_side.fixed_left a.step-1 .text-block {
  margin-top: 0;
  -webkit-transition: margin-top 0.3s ease-out;
  -webkit-transition-delay: 1s;
  -moz-transition: margin-top 0.3s ease-out 1s;
  -o-transition: margin-top 0.3s ease-out 1s;
  transition: margin-top 0.3s ease-out 1s;
}
/* line 73, ../scss/screen.scss */
.wrap_side.fixed_right {
  right: -170px;
}
/* line 76, ../scss/screen.scss */
.wrap_side.fixed_right a {
  display: block;
  width: 170px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  height: 0;
  height: 170px;
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
}
/* line 93, ../scss/screen.scss */
.wrap_side.fixed_right a .i-block {
  width: 170px;
  height: 170px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.7s;
  -moz-transition: -moz-transform 0.7s;
  -o-transition: -o-transform 0.7s;
  transition: transform 0.7s;
  display: block;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center;
}
/* line 105, ../scss/screen.scss */
.wrap_side.fixed_right a .i-block.hover {
  -webkit-transform: translateX(100%) rotateY(180deg);
  -moz-transform: translateX(100%) rotateY(180deg);
  transform: translateX(100%) rotateY(180deg);
}
/* line 113, ../scss/screen.scss */
.wrap_side.fixed_right a .face {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  backface-visibility: hidden;
  /* W3C */
  -webkit-backface-visibility: hidden;
  /* Safari & Chrome */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -o-backface-visibility: hidden;
  /* Opera */
}
/* line 124, ../scss/screen.scss */
.wrap_side.fixed_right a .s-front, .wrap_side.fixed_right a .s-hover {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 134, ../scss/screen.scss */
.wrap_side.fixed_right a .s-hover {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 15px;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 143, ../scss/screen.scss */
.wrap_side.fixed_right a .s-hover .t-w {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #e5f2f2;
  font-size: 20px;
  line-height: 18px;
}
/* line 152, ../scss/screen.scss */
.wrap_side.fixed_right a .s-hover .t-b {
  display: block;
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #000000;
}
/* line 161, ../scss/screen.scss */
.wrap_side.fixed_right a .first {
  height: 85px;
  overflow: hidden;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  transform: skew(15deg);
  padding: 20px 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 170px;
  display: block;
}
/* line 174, ../scss/screen.scss */
.wrap_side.fixed_right a .first span {
  top: 20px;
}
/* line 179, ../scss/screen.scss */
.wrap_side.fixed_right a .second {
  height: 85px;
  overflow: hidden;
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  transform: skew(-15deg);
  padding: 0 20px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 170px;
  display: block;
}
/* line 192, ../scss/screen.scss */
.wrap_side.fixed_right a .second span {
  bottom: -20px;
}
/* line 197, ../scss/screen.scss */
.wrap_side.fixed_right a .s-text-first {
  color: #000000;
  font-size: 56px;
  height: 170px;
  position: absolute;
  display: block;
}
/* line 206, ../scss/screen.scss */
.wrap_side.fixed_right a.s-1 .first {
  background: #cb8407;
}
/* line 210, ../scss/screen.scss */
.wrap_side.fixed_right a.s-1 .second, .wrap_side.fixed_right a.s-1 .s-hover {
  background: #fca20e;
}
/* line 216, ../scss/screen.scss */
.wrap_side.fixed_right a.s-2 .first {
  background: #994a37;
}
/* line 220, ../scss/screen.scss */
.wrap_side.fixed_right a.s-2 .second, .wrap_side.fixed_right a.s-2 .s-hover {
  background: #be5642;
}
/* line 226, ../scss/screen.scss */
.wrap_side.fixed_right a.s-3 .first {
  background: #427364;
}
/* line 230, ../scss/screen.scss */
.wrap_side.fixed_right a.s-3 .second, .wrap_side.fixed_right a.s-3 .s-hover {
  background: #57927b;
}
/* line 234, ../scss/screen.scss */
.wrap_side.fixed_right a.s-3 .s-text-first {
  font-size: 40px;
  line-height: 30px;
}
/* line 241, ../scss/screen.scss */
.wrap_side.fixed_right a.s-4 .s-text-first {
  color: #ccd9d9;
  font-size: 40px;
  line-height: 30px;
}
/* line 247, ../scss/screen.scss */
.wrap_side.fixed_right a.s-4 .first {
  background: #000000;
}
/* line 251, ../scss/screen.scss */
.wrap_side.fixed_right a.s-4 .second {
  background: #434347;
}
/* line 255, ../scss/screen.scss */
.wrap_side.fixed_right a.s-4 .s-hover {
  background: #a5b9b9;
}
/* line 260, ../scss/screen.scss */
.wrap_side.fixed_right a.step-1 {
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transition: all 0.3s ease-out;
  -webkit-transition-delay: 1.5s;
  -moz-transition: all 0.3s ease-out 1.5s;
  -o-transition: all 0.3s ease-out 1.5s;
  transition: all 0.3s ease-out 1.5s;
}
/* line 269, ../scss/screen.scss */
.wrap_side.fixed_right a.step-1 .first {
  height: 170px;
  -webkit-transform: skew(0deg);
  -moz-transform: skew(0deg);
  transform: skew(0deg);
  -webkit-transition: all 0s ease-out;
  -webkit-transition-delay: 1.7s;
  -moz-transition: all 0s ease-out 1.7s;
  -o-transition: all 0s ease-out 1.7s;
  transition: all 0s ease-out 1.7s;
}
/* line 277, ../scss/screen.scss */
.wrap_side.fixed_right a.step-1 .second {
  opacity: 0;
  -webkit-transition: all 0s ease-out;
  -webkit-transition-delay: 1.7s;
  -moz-transition: all 0s ease-out 1.7s;
  -o-transition: all 0s ease-out 1.7s;
  transition: all 0s ease-out 1.7s;
}
/* line 283, ../scss/screen.scss */
.wrap_side.fixed_right a.step-1.s-1 .first {
  background: #fca20e;
}
/* line 289, ../scss/screen.scss */
.wrap_side.fixed_right a.step-1.s-2 {
  -webkit-transition: all 0.3s ease-out;
  -webkit-transition-delay: 2.3s;
  -moz-transition: all 0.3s ease-out 2.3s;
  -o-transition: all 0.3s ease-out 2.3s;
  transition: all 0.3s ease-out 2.3s;
}
/* line 291, ../scss/screen.scss */
.wrap_side.fixed_right a.step-1.s-2 .first {
  background: #be5642;
  -webkit-transition: all 0s ease-out;
  -webkit-transition-delay: 2.5s;
  -moz-transition: all 0s ease-out 2.5s;
  -o-transition: all 0s ease-out 2.5s;
  transition: all 0s ease-out 2.5s;
}
/* line 295, ../scss/screen.scss */
.wrap_side.fixed_right a.step-1.s-2 .second {
  opacity: 0;
  -webkit-transition: all 0s ease-out;
  -webkit-transition-delay: 2.5s;
  -moz-transition: all 0s ease-out 2.5s;
  -o-transition: all 0s ease-out 2.5s;
  transition: all 0s ease-out 2.5s;
}
/* line 302, ../scss/screen.scss */
.wrap_side.fixed_right a.step-1.s-3 {
  -webkit-transition: all 0.3s ease-out;
  -webkit-transition-delay: 2.7s;
  -moz-transition: all 0.3s ease-out 2.7s;
  -o-transition: all 0.3s ease-out 2.7s;
  transition: all 0.3s ease-out 2.7s;
}
/* line 304, ../scss/screen.scss */
.wrap_side.fixed_right a.step-1.s-3 .first {
  background: #57927b;
  -webkit-transition: all 0s ease-out;
  -webkit-transition-delay: 3s;
  -moz-transition: all 0s ease-out 3s;
  -o-transition: all 0s ease-out 3s;
  transition: all 0s ease-out 3s;
}
/* line 308, ../scss/screen.scss */
.wrap_side.fixed_right a.step-1.s-3 .second {
  opacity: 0;
  -webkit-transition: all 0s ease-out;
  -webkit-transition-delay: 3s;
  -moz-transition: all 0s ease-out 3s;
  -o-transition: all 0s ease-out 3s;
  transition: all 0s ease-out 3s;
}
/* line 314, ../scss/screen.scss */
.wrap_side.fixed_right a.step-1.s-4 {
  -webkit-transition: all 0.3s ease-out;
  -webkit-transition-delay: 3.1s;
  -moz-transition: all 0.3s ease-out 3.1s;
  -o-transition: all 0.3s ease-out 3.1s;
  transition: all 0.3s ease-out 3.1s;
}
/* line 316, ../scss/screen.scss */
.wrap_side.fixed_right a.step-1.s-4 .first {
  -webkit-transition: all 0s ease-out;
  -webkit-transition-delay: 3.3s;
  -moz-transition: all 0s ease-out 3.3s;
  -o-transition: all 0s ease-out 3.3s;
  transition: all 0s ease-out 3.3s;
}
/* line 319, ../scss/screen.scss */
.wrap_side.fixed_right a.step-1.s-4 .second {
  opacity: 0;
  -webkit-transition: all 0s ease-out;
  -webkit-transition-delay: 3.3s;
  -moz-transition: all 0s ease-out 3.3s;
  -o-transition: all 0s ease-out 3.3s;
  transition: all 0s ease-out 3.3s;
}
/* line 331, ../scss/screen.scss */
.wrap_side.fixed_right.ie .i-block.hover .s-front {
  display: none;
}
/* line 334, ../scss/screen.scss */
.wrap_side.fixed_right.ie .i-block.hover .s-hover {
  display: block;
}
/* line 338, ../scss/screen.scss */
.wrap_side.fixed_right.ie .i-block.hover .face, .wrap_side.fixed_right.ie .i-block.hover .s-front, .wrap_side.fixed_right.ie .i-block.hover .s-hover {
  -ms-backface-visibility: visible;
}

/* line 347, ../scss/screen.scss */
.fixed_left {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}

/* line 353, ../scss/screen.scss */
.fixed_left a {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-animation: flip .8s ease-in-out forwards;
  -moz-animation: flip .8s ease-in-out forwards;
  animation: flip .8s ease-in-out forwards;
}

@-webkit-keyframes flip {
  /* line 369, ../scss/screen.scss */
  100% {
    -webkit-transform: rotateY(0deg);
    opacity: 1;
  }
}

@-moz-keyframes flip {
  /* line 373, ../scss/screen.scss */
  100% {
    -moz-transform: rotateY(0deg);
    opacity: 1;
  }
}

@keyframes flip {
  /* line 377, ../scss/screen.scss */
  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}
